# frontend
frontend/node_modules
frontend/.next

# backend java & maven
backend/target/
target/
*.class
*.jar
backend/uploads
backend/venv
backend/__pycache__

# env
.env
.env.local

# python
*.pyc

# vscode / IDE
.vscode
.idea
*.iml